.producto__barra__lista__item__link {
    color: #2A7AE4;
    font-size: 1rem;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: .5 ease;

}

.producto__barra__lista__item__link:hover{
    transform: scale(1.09);
    color: aquamarine;
}

@media (max-width: 480px) {
    .producto__barra__lista__item__link:hover {
        padding-left: 1vw;        
    }

}
;