.header__boton {
    display: flex;
    width: 11.375rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    flex-shrink: 0;
    border: 1px solid var(--azul-100, #2A7AE4);
    color: var(--azul-100, #2A7AE4);
    font-size: 1rem;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}