.header{
display: flex;
width: 98.9vw;
padding: 1.9rem 7%;
align-items: center;
background: #fff;

}

@media (max-width: 617px) {
    .header {
        justify-content: space-around;
        padding: 1rem;
    }
}